# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
*.spec

# Virtualenv
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Downloads (example output)
downloads/
*.hdt

# Test & coverage
.pytest_cache/
htmlcov/
.coverage

# OS
Thumbs.db
.DS_Store
